<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <h1>Bienvenido!</h1>
    Usuario: {{username}}
    <h2>Informacion Adicional</h2>
  <ion-list>
    <ion-item>
      <ion-input label="Nombre" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" [(ngModel)]="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Nivel Educacion" [(ngModel)]="edLevel" placeholder="Seleccione nivel">
        <ion-select-option value="Basica">Basica</ion-select-option>
        <ion-select-option value="Media">Media</ion-select-option>
        <ion-select-option value="Superior">Superior</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Fec. Nac." [(ngModel)]="birthday" [value]="birthday | date: 'dd-MM-yyyy'"></ion-input>
      <ion-button fill="clear" id="open-datetime">
          <ion-icon size="large" slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-datetime" triggerAction="click">
          <ng-template>
              <ion-datetime [(ngModel)]="birthday" locale="es-ES"
                            [showDefaultButtons]="true" presentation="date">
              </ion-datetime>
          </ng-template>
      </ion-popover>
  </ion-item>
  
  </ion-list>
  <ion-button size="small" (click)="clear()">Limpiar</ion-button>
  <ion-button size="small" (click)="showInfo()">Mostrar Info</ion-button>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">App desarrollada por Martin Arroyo</ion-title>
  </ion-toolbar>
