<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>SkeletonApp</h1>
      <h6>Aqui comienza todo</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Bienvenido!</h2>
    <br><br><br><br>
    <ion-list>
      <ion-item>
        <ion-input label="Usuario" labelPlacement="stacked" placeholder="Ingrese su Usuario" [(ngModel)]="username">
        </ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input type="password" label="Password" labelPlacement="stacked" placeholder="Ingrese su contraseña" [(ngModel)]="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" fill="outline" (click)="validarLogin()">Ingresar</ion-button>
    <p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Crea tu cuenta gratis</a></p>
    <br><br>
    <ion-button [routerLink]="['/profile']">Ir al perfil</ion-button>
  </div>
</ion-content>
